# Основной фреймворк Telegram
python-telegram-bot==20.6

# Временные зоны
pytz==2025.7

# Работа с .env
python-dotenv==1.1.1

# Графики и визуализация
matplotlib==3.10.6

# HTTP-запросы (если будут нужны)
aiohttp==2.32.5
json

